{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./app/components",
          "screens": "./app/screens",
          "types": "./app/types"
        }
      }
    ]
  ],
  "presets": ["react-native"]
}
